/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod";
import { EgainCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { EgainError } from "../models/errors/egainerror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as models from "../models/index.js";
import { CreateValidationHookServerList } from "../models/operations/createvalidationhook.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create validation hook
 *
 * @remarks
 * # Create Validation Hook
 *
 * ## Overview
 * This API allows you to create custom JavaScript-based validation hooks that execute during the bulk content ingestion process. Validation hooks enable organizations to enforce specific business rules, verify metadata compliance, and perform complex data integrity checks that go beyond standard system validation.
 *
 * ## Usage Requirements
 * To ensure successful hook creation and execution, please adhere to the following:
 * - **Content Encoding**: The `fileObject.file.content` property must be a **Base64 encoded** string of your JavaScript logic.
 * - **File Naming**: The filename should use the `.js` extension.
 * - **Logic Return**: Your script must return a `result` object containing a boolean `success` property.
 * - **Size Limit**: The encoded content must not exceed 1.5MB.
 *
 * ## Hook Types
 * - **Pre-Validation Hooks (`import_pre_validation_hook`)**: These execute **before** the standard system validation. They are ideal for enforcing custom business rules, such as ensuring all articles contain specific metadata.
 * - **Post-Validation Hooks (`import_post_validation_hook`)**: These execute **after** the standard system validation. They have access to the `validationResults` from the system check, allowing you to block an import based on the severity of errors found.
 *
 * ## Execution Environment
 * Hooks run in a secure, sandboxed JavaScript environment (ES5/ES6).
 * - **Prohibited**: File system access (`fs`), network access (HTTP requests), and module loading (`require`).
 * - **Supported**: Standard JavaScript logic, `console.log()` for debugging, and a specialized `helpers` utility library for safe data access.
 *
 * ## Implementation Examples
 *
 * ### Example: Pre-Validation Logic
 * This example demonstrates checking that every article contains a specific metadata field.
 * ```javascript
 * // Initialize result
 * var result = { success: true };
 *
 * // Verify data exists
 * if (helpers.hasField(data, 'articles') && helpers.isNotEmpty(data.articles)) {
 *
 *   var invalidArticles = [];
 *
 *   for (var i = 0; i < data.articles.length; i++) {
 *     var article = data.articles[i];
 *
 *     if (!helpers.hasField(article, 'name')) {
 *       invalidArticles.push({ index: i, issue: "Missing name" });
 *       continue;
 *     }
 *
 *     // Custom Rule: Check if 'description' exists in metadata
 *     if (!helpers.hasField(article, 'metadata') ||
 *         !helpers.hasField(article.metadata, 'description') ||
 *         helpers.isEmpty(article.metadata.description)) {
 *
 *       invalidArticles.push({
 *         name: article.name,
 *         issue: "Missing required description metadata"
 *       });
 *     }
 *   }
 *
 *   if (invalidArticles.length > 0) {
 *     result = {
 *       success: false,
 *       error: 'Articles failed custom metadata validation',
 *       details: { count: invalidArticles.length, errors: invalidArticles }
 *     };
 *   }
 * }
 * result;
 * ```
 *
 * ### Example: Post-Validation Logic
 * This example checks the standard validation results. If there are standard errors, it logs them and fails the job explicitly.
 * ```javascript
 * var result = { success: true };
 *
 * // Check if standard validation found errors
 * if (helpers.hasField(validationResults, 'errors') && validationResults.errors.length > 0) {
 *
 *   var errorCount = validationResults.errors.length;
 *   console.log('Standard validation found ' + errorCount + ' errors.');
 *
 *   var errorTypes = {};
 *   validationResults.errors.forEach(function(err) {
 *     var type = err.type || 'unknown';
 *     errorTypes[type] = (errorTypes[type] || 0) + 1;
 *   });
 *
 *   result = {
 *     success: false,
 *     error: 'Standard validation failed with ' + errorCount + ' errors.',
 *     details: {
 *       summary: errorTypes,
 *       firstError: validationResults.errors[0].message
 *     }
 *   };
 * }
 * result;
 * ```
 *
 * ## Further Documentation
 * For more detailed context on available objects (`data`, `metadata`, `helpers`) and best practices, refer to the [Validation Hook Guide](https://apidev.egain.com/developer-portal/guides/ingestion/validation-hook-guide/#example-pre-validation-logic).
 */
export function contentImportCreateValidationHook(
  client: EgainCore,
  request: models.Hook,
  options?: RequestOptions,
): APIPromise<
  Result<
    void,
    | errors.WSErrorCommon
    | EgainError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: EgainCore,
  request: models.Hook,
  options?: RequestOptions,
): Promise<
  [
    Result<
      void,
      | errors.WSErrorCommon
      | EgainError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => models.Hook$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const baseURL = options?.serverURL
    || pathToFunc(CreateValidationHookServerList[0], {
      charEncoding: "percent",
    })();

  const path = pathToFunc("/import/config/hooks")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.accessToken);
  const securityInput = secConfig == null ? {} : { accessToken: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: baseURL ?? "",
    operationID: "createValidationHook",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.accessToken,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: baseURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    void,
    | errors.WSErrorCommon
    | EgainError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.nil(201, z.void()),
    M.jsonErr(400, errors.WSErrorCommon$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
